@charset "UTF-8";
.section-ça-marche {
  background-color: rgb(220, 232, 228);
}
.section-ça-marche .container-ça-marche {
  /* margin-left: 50px;
  margin-right: 50px; */
}
.section-ça-marche .container-ça-marche .content-ça-marche {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.section-ça-marche .container-ça-marche .content-ça-marche .children-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.section-ça-marche .container-ça-marche .content-ça-marche .children-one .title {
  font-size: 25px;
  color: rgba(255, 68, 0, 0.688);
  font-family: "cursive";
}
.section-ça-marche .container-ça-marche .content-ça-marche .children-one .texte {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.443);
}
.section-ça-marche .container-ça-marche .content-ça-marche .children-two {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.section-ça-marche .container-ça-marche .content-ça-marche .children-two .children-two_inner_orange {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.section-ça-marche .container-ça-marche .content-ça-marche .children-two .children-two_inner_orange .inner-icon {
  width: 150px;
  height: 150px;
  border: 3px solid rgba(255, 68, 0, 0.688);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-ça-marche .container-ça-marche .content-ça-marche .children-two .children-two_inner_orange .inner-icon .icon-two {
  font-size: 50px;
  color: cadetblue;
}
.section-ça-marche .container-ça-marche .content-ça-marche .children-two .children-two_inner_orange .inner-icon .icon-one {
  font-size: 50px;
  color: rgba(255, 68, 0, 0.688);
}
.section-ça-marche .container-ça-marche .content-ça-marche .children-two .children-two_inner_orange .icon-title {
  font-size: 25px;
  color: rgba(255, 68, 0, 0.688);
}
.section-ça-marche .container-ça-marche .content-ça-marche .children-two .children-two_inner_orange .inner-detail {
  width: 80%;
  padding-bottom: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.443);
}
.section-ça-marche .container-ça-marche .content-ça-marche .children-two .children-two_inner_orange:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.5;
}
.section-ça-marche .container-ça-marche .content-ça-marche .children-two .children-two_inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}
.section-ça-marche .container-ça-marche .content-ça-marche .children-two .children-two_inner .inner-icon {
  width: 150px;
  height: 150px;
  border: 3px solid rgba(125, 191, 193, 0.761);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-ça-marche .container-ça-marche .content-ça-marche .children-two .children-two_inner .inner-icon .icon-two {
  font-size: 50px;
  color: cadetblue;
}
.section-ça-marche .container-ça-marche .content-ça-marche .children-two .children-two_inner .inner-icon .icon-one {
  font-size: 50px;
  color: rgba(255, 68, 0, 0.688);
}
.section-ça-marche .container-ça-marche .content-ça-marche .children-two .children-two_inner .icon-title {
  font-size: 25px;
  color: rgba(95, 158, 160, 0.947);
}
.section-ça-marche .container-ça-marche .content-ça-marche .children-two .children-two_inner .inner-detail {
  width: 80%;
  padding-bottom: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.443);
}
.section-ça-marche .container-ça-marche .content-ça-marche .children-two .children-two_inner:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.5;
}

/* Responsive */
@media (max-width: 480px) {
  .section-ça-marche .container-ça-marche .content-ça-marche .children-two {
    display: grid;
    grid-template-rows: repeat(1, auto);
    gap: 1px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .section-ça-marche .container-ça-marche .content-ça-marche .children-two {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-ça-marche .container-ça-marche .content-ça-marche .children-two {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
}
@media (min-width: 1200px) {
  .section-ça-marche .container-ça-marche .content-ça-marche .children-two {
    display: grid;
    grid-template-columns: repeat(4, auto);
  }
}/*# sourceMappingURL=marche.css.map */