/* //mobile
@media (max-width: 480px) {
}

//xtra small divices
@media (min-width: 481px) and (maw-width: 767px) {
}

//small tablets
@media (min-width: 768px) and (maw-width: 991px) {
}

//large tablets / laptop
@media (min-width: 992px) and (maw-width: 1199px) {
}

//desktop
@media (min-width: 1200px) and (maw-width: 1919px) {
}
 */

.service {
  //padding: 50px 100px;

  .service_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .name {
      text-align: center;
      margin: 10px 0 30px 0;

      h2 {
        font-size: 2rem;
      }
    }

    .nos_services {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      .card {
        padding: 15px 0 0 15px;
        border: 1px solid transparent;
        border-radius: 15px;
        background-color: #ccc;
        display: grid;
        grid-template-columns: 60% 1fr;
        height: 170px;

        &:hover {
          transform: scale(1.02);
          transition: all 0.5s;
        }

        .left {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .title {
            font-size: 1.4rem;
            width: max-content;
          }
        }

        .image {
          display: flex;
          align-items: end;
          justify-content: end;

          img {
            border-radius: 15px;
          }
        }
      }
    }
  }
}

//mobile
@media (max-width: 480px) {
  .service {
    // padding: 30px 20px;

    .service_container {
      .name {
        text-align: center;
        margin: 10px 0 20px 0;

        h2 {
          font-size: 1.5rem;
        }
      }

      .nos_services {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        .card {
          padding: 10px 0 0 10px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          height: 180px;

          .left {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .title {
              font-size: 1rem;
            }

            .text {
              font-size: 0.8rem;
            }
          }

          .image {
            display: flex;
            align-items: end;
            justify-content: end;

            img {
              border-radius: 0 0 15px 0;
              max-width: 60px;
              max-height: 60px;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}

//xtra small divices
@media (min-width: 481px) and (max-width: 767px) {
  .service {
    // padding: 40px 40px;

    .service_container {
      .name {
        h2 {
          font-size: 1rem;
        }
      }

      .nos_services {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        .card {
          padding: 10px 0 0 10px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          height: 160px;

          .left {
            .title {
              font-size: 1.2rem;
            }

            .text {
              font-size: 1rem;
            }
          }

          .image {
            img {
              border-radius: 0 0 15px 0;
              max-width: 70px;
              max-height: 70px;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}

//small tablets
@media (min-width: 768px) and (max-width: 991px) {
  .service {
    //padding: 40px 60px;

    .service_container {
      .name {
        h2 {
          font-size: 2rem;
        }
      }

      .nos_services {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

        .card {
          padding: 10px 0 0 10px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          height: 160px;

          .left {
            .title {
              font-size: 1.2rem;
            }

            .text {
              font-size: 1rem;
            }
          }

          .image {
            img {
              border-radius: 0 0 15px 0;
              max-width: 60px;
              max-height: 60px;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}

//large tablets / laptop
@media (min-width: 992px) and (max-width: 1199px) {
  .service {
    // padding: 40px 60px;
  }
}
