.service {
  padding: 50px 100px;
}

.service .service_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service .service_container .name {
  text-align: center;
  margin: 10px 0 30px 0;
}

.service .service_container .name h2 {
  font-size: 2rem;
}

.service .service_container .nos_services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.service .service_container .nos_services .card {
  padding: 15px 0 0 15px;
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: #ccc;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 1fr;
      grid-template-columns: 60% 1fr;
  height: 170px;
}

.service .service_container .nos_services .card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.service .service_container .nos_services .card .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.service .service_container .nos_services .card .left .title {
  font-size: 1.4rem;
}

.service .service_container .nos_services .card .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.service .service_container .nos_services .card .image img {
  border-radius: 0 0 15px 0;
}

@media (max-width: 480px) {
  .service {
    padding: 30px 20px;
  }
  .service .service_container .name {
    text-align: center;
    margin: 10px 0 20px 0;
  }
  .service .service_container .name h2 {
    font-size: 1.5rem;
  }
  .service .service_container .nos_services {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .service .service_container .nos_services .card {
    padding: 10px 0 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 180px;
  }
  .service .service_container .nos_services .card .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .service .service_container .nos_services .card .left .title {
    font-size: 1rem;
  }
  .service .service_container .nos_services .card .left .text {
    font-size: 0.8rem;
  }
  .service .service_container .nos_services .card .image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .service .service_container .nos_services .card .image img {
    border-radius: 0 0 15px 0;
    max-width: 60px;
    max-height: 60px;
    overflow: hidden;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .service {
    padding: 40px 40px;
  }
  .service .service_container .name h2 {
    font-size: 1.8rem;
  }
  .service .service_container .nos_services {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .service .service_container .nos_services .card {
    padding: 10px 0 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 160px;
  }
  .service .service_container .nos_services .card .left .title {
    font-size: 1.2rem;
  }
  .service .service_container .nos_services .card .left .text {
    font-size: 1rem;
  }
  .service .service_container .nos_services .card .image img {
    border-radius: 0 0 15px 0;
    max-width: 70px;
    max-height: 70px;
    overflow: hidden;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .service {
    padding: 40px 60px;
  }
  .service .service_container .name h2 {
    font-size: 2rem;
  }
  .service .service_container .nos_services {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .service .service_container .nos_services .card {
    padding: 10px 0 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 160px;
  }
  .service .service_container .nos_services .card .left .title {
    font-size: 1.2rem;
  }
  .service .service_container .nos_services .card .left .text {
    font-size: 1rem;
  }
  .service .service_container .nos_services .card .image img {
    border-radius: 0 0 15px 0;
    max-width: 60px;
    max-height: 60px;
    overflow: hidden;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .service {
    padding: 40px 60px;
  }
}

/* //desktop
@media (min-width: 1200px) and (max-width: 1919px) {
  .service {
    padding: 40px 60px;
  }
} */
/*# sourceMappingURL=service.css.map */