.App {
  font-family: "kanit", sans-serif;
  font-size: 18px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* container */
.container {
  padding: 0 70px;
}

/* section */
.section {
  padding: 70px 0;
}

button {
  border: none;
  background-color: #052a74;
  color: #fff;
  padding: 13px 20px;
  font-weight: 900;
  border-radius: 0.5rem;
  font-size: 15px;
  width: max-content;
  transition: all 0.2s;
}
button:hover {
  background-color: #058be4f6;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
form,
input {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Kanit", sans-serif !important;
}
input:focus {
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
}
*,
::after,
::before {
  box-sizing: border-box;
}
a {
  color: #000000;
  text-decoration: none;
}
/* container */
.container {
  padding: 0 100px;
}

@media (max-width: 480px) {
  .container {
    padding: 0 15px;
  }
  .section {
    padding: 30px 0;
  }
}

@media (min-width: 481px) and (max-width: 575px) {
  .container {
    padding: 0 25px;
  }
  .section {
    padding: 40px 0;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    padding: 0 40px;
  }
  .section {
    padding: 50px 0;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    padding: 0 50px;
  }
  .section {
    padding: 60px 0;
  }
}

@media (min-width: 876px) and (max-width: 1024px) {
  .container {
    padding: 0 70px;
  }
}
