.banner {
  padding: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../../../public/images/hero.webp") center center fixed no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../public/images/hero.webp") center center fixed no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
}

.banner .banner_contanier {
  width: 45%;
}

.banner .title {
  text-align: center;
  padding: 20px 0;
}

.banner .title h1 {
  font-size: 3rem;
}

.banner .text {
  text-align: justify;
  padding: 10px 0;
  font-size: 1.1rem;
  line-height: 1.5;
  word-spacing: 5px;
}

.banner .appli {
  margin: 20px 0;
  text-align: center;
}

.banner .appli a {
  padding: 10px 40px;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: green;
  color: white;
}

.banner .appli a:hover {
  background-color: #20d820;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 480px) {
  .banner {
    padding: 20px;
    height: 120vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner .banner_contanier {
    width: 100%;
  }
  .banner .title {
    padding: 10px 0;
  }
  .banner .title h1 {
    font-size: 1.8rem;
  }
  .banner .text {
    word-spacing: 2px;
  }
  .banner .appli a {
    padding: 10px 30px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .banner {
    padding: 0 40px;
    height: 130vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner .banner_contanier {
    width: 100%;
  }
  .banner .title {
    padding: 10px 0;
  }
  .banner .title h1 {
    font-size: 2.2rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .banner {
    padding: 0 60px;
    height: 130vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .banner .banner_contanier {
    width: 70%;
  }
  .banner .title {
    padding: 10px 0;
  }
  .banner .title h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .banner {
    padding: 0 60px;
    height: 150vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .banner .banner_contanier {
    width: 70%;
  }
  .banner .title {
    padding: 10px 0;
  }
  .banner .title h1 {
    font-size: 2.8rem;
  }
}

@media (min-width: 1200px) and (max-width: 1919px) {
  .banner {
    padding: 0 100px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .banner .banner_contanier {
    width: 50%;
  }
  .banner .title {
    padding: 10px 0;
  }
  .banner .title h1 {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=banner.css.map */