.banner {
  padding: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../public/images/hero.webp") center center fixed no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
  .banner_contanier {
    width: 45%;
  }
  .title {
    text-align: center;
    padding: 20px 0;
    h1 {
      font-size: 3rem;
    }
  }
  .text {
    text-align: justify;
    padding: 10px 0;
    font-size: 1.1rem;
    line-height: 1.5;
    word-spacing: 5px;
  }
  .appli {
    margin: 20px 0;
    text-align: center;

    a {
      padding: 10px 40px;
      border: 1px solid transparent;
      border-radius: 20px;
      background-color: green;
      color: white;
      &:hover {
        background-color: rgb(32, 216, 32);
        transition: all 0.5s;
      }
    }
  }
}

//mobile
@media (max-width: 480px) {
  .banner {
    padding: 20px;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .banner_contanier {
      width: 100%;
    }
    .title {
      padding: 10px 0;
      h1 {
        font-size: 1.8rem;
      }
    }
    .text {
      word-spacing: 2px;
    }
    .appli {
      a {
        padding: 10px 30px;
      }
    }
  }
}

//xtra small divices
@media (min-width: 481px) and (max-width: 767px) {
  .banner {
    padding: 0 40px;
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .banner_contanier {
      width: 100%;
    }
    .title {
      padding: 10px 0;
      h1 {
        font-size: 2.2rem;
      }
    }
  }
}

//small tablets
@media (min-width: 768px) and (max-width: 991px) {
  .banner {
    padding: 0 60px;
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: start;
    .banner_contanier {
      width: 70%;
    }
    .title {
      padding: 10px 0;
      h1 {
        font-size: 2.5rem;
      }
    }
  }
}

//large tablets / laptop
@media (min-width: 992px) and (max-width: 1199px) {
  .banner {
    padding: 0 60px;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: start;
    .banner_contanier {
      width: 70%;
    }
    .title {
      padding: 10px 0;
      h1 {
        font-size: 2.8rem;
      }
    }
  }
}

//desktop
@media (min-width: 1200px) and (max-width: 1919px) {
  .banner {
    padding: 0 100px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    .banner_contanier {
      width: 50%;
    }
    .title {
      padding: 10px 0;
      h1 {
        font-size: 3rem;
      }
    }
  }
}
